{% extends "core/base.html" %}

{% load static %}

{% block content %}

<section>

    <h2>{{ post.title }}</h2>
    {% if admin %}
    <a href="/blog/editpost/{{ post.id }}">Edit</a>
    {% endif %}

    <div>
        <em>
            {% for tag in post.tags %}
            <span>{{ tag }}</span>
            {% if not forloop.last %}
            <span>, </span>
            {% endif %}
            {% endfor %}
        </em>
    </div>

    <div>
        {{ post.content }}
    </div>

</section>

{% endblock content %}